.about {
    min-height: 457px;
    margin-top: 150px;
    &__inner {
        margin-top: 100px;
    }
    &__descr {
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        margin-top: 40px;
    }
    &__numbers {
        margin-top: 40px;
        &-item {
            margin-top: 25px;
            &:first-child {
                margin-top: 0;
            }
        }
        &-descr {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-top: 15px;
        }
        &-num {
            font-weight: bold;
            color: $gold;
        }
    }
}