.fixed-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 115vh;
    @include center;
    background-color: transparent;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25px;
        height: 576px;
    }
    &__title {
        width: 242px;
        transform: rotate(-90deg);
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #C4C4C4;
    }
    &__line {
        display: block;
        width: 3px;
        height: 80px; 
        //transform: rotate(90deg);
        background-color: #C4C4C4;
    }
    &__social {
        @include column;
        height: 174px;
        &--header {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 130px;
            flex-wrap: wrap;
            margin: 0 auto;
            margin-top: 50px;
        }
        &-link {
            color: #fff;
            transition: .3s all;
            cursor: pointer;
            &:hover {
                color: $gold;
            }
            &--header {
                width: 45px;         
                i {
                    font-size: 40px;
                }
            }
        }
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            display: block;
            background: #FFFFFF;
            width: 16px;
            height: 2px;
            transform: rotate(-45deg);
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            display: block;
            background: #FFFFFF;
            width: 16px;
            height: 2px;
            transform: rotate(45deg);
        }
    }
    &--menu {
        position: fixed;
        top: 0;
        left: -50%;
        width: 50%;
        background: #333333;
        z-index: 1000;
        height: 100vh;
        transition: .6s all;
    }
}